/* Set the back color (black) and the text color (white)*/
body {
    background-color: #000000;
    color: #ffffff;
}

header, footer {
    background-color: #000000;
    color: #ffffff;
}

/* Set color of url */
a {
    color: #007bff; /* Bleu */
    text-decoration: none; /* Enlève le soulignement, si tu le souhaites */
}

/* Underline url */
a:hover {
    color: #0056b3;
}
/* Add margin and center the text */
body {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: #000000; /* Ton fond noir */
    color: #ffffff; /* Texte blanc */
    font-family: 'Arial', sans-serif; /* Tu peux changer la police ici */
    font-size: 18px; /* Taille du texte */
}
