body {
    background-color: #000000;
    color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

header {
    background-color: #000000;
    color: #ffffff;
}

.language-switcher {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.language-switcher a {
    color: #007bff;
    text-decoration: none;
    padding: 0 5px;
    cursor: pointer;
}

.language-switcher a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.language-switcher span {
    color: #ffffff;
    padding: 0 5px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    margin-left: 0px;
    text-align: center;
    margin-top: 40px;
}

section {
    padding: 0px;
    margin: 0 auto;
    max-width: 1000px;
}

p {
    text-align: justify; /* Justify paragraphs */
}
/* Set color of url */
a {
    color: #007bff; /* Blue */
    text-decoration: none; 
}

/* Underline url */
a:hover {
    color: #0056b3;
}

div {
    margin-bottom: 5px; /* Adjust space between element */
    text-align: justify; /* Justify paragraphs */
}

/* Image */
.text-image-section {
    padding: 0px; /* Adjust padding */
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-align: left;
    margin-bottom: 20px; /* Add space between title and text */
}

.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px; 

}

.texte {
    flex: 1;
    margin-right: 20px;
}

.image img {
    margin-left: 20px;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centre les icônes horizontalement */
    gap: 15px; /* Espace entre chaque icône */
}

.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Assure que les images s'ajustent bien dans leur conteneur */
    transition: transform 0.3s ease; /* Animation pour effet au survol */
}

.social-icons a:hover img {
    transform: scale(1.1); /* Agrandit légèrement l'image au survol */
}

.icon-wrapper {
    display: inline-block; /* Pour que les dimensions soient prises en compte */
    background-color: white; /* Couleur de fond blanche */
    border-radius: 50%; /* Pour donner une forme ronde, si souhaité */
    padding: 5px; /* Ajuster l'espacement autour de l'icône */
    transition: background-color 0.3s ease; /* Animation pour le changement de couleur */
}

.icon-wrapper:hover {
    background-color: #f0f0f0; /* Changement de couleur au survol, par exemple un gris clair */
}

/* Language switcher - hide inactive languages */
.lang-en, .lang-fr {
    display: none;
}
