body {
    background-color: #000000;
    color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #000000;
    color: #ffffff;
}

/* Set color of url */
a {
    color: #007bff; /* Bleu */
    text-decoration: none; /* Enlève le soulignement, si tu le souhaites */
}

/* Underline url */
a:hover {
    color: #0056b3;
}

div {
    margin-bottom: 5px; /* Ajuste l'espacement entre les éléments */
}

/* Image */
.text-image {
    display: flex; /* Utiliser Flexbox pour aligner le texte et l'image */
    align-items: center; /* Centre verticalement l'image et le texte */
    justify-content: space-between; /* Assure que le texte soit à gauche et l'image à droite */
    padding: 20px;
    max-width: 1000px; /* Limite la largeur totale de la section */
    margin: auto; /* Centre la section sur la page */
}

.texte {
    flex: 1; /* Le texte occupe l'espace disponible à gauche */
    margin-right: 20px; /* Espace entre le texte et l'image */
}

.image img {
    max-width: 200px; /* Taille de l'image (peut être ajustée) */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 10px; /* Optionnel : arrondit les coins de l'image */
}
